In [70]:
# Importting the relevant libraries
import pymongo
from pymongo import MongoClient
import datetime
import pandas as pd
from bson.objectid import ObjectId
from pandas.io.json import json_normalize
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Connecting to mongodb compass installed in the local system
# 27017 is the default ip address of mongodb compass

client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [5]:
# Creating a database
mydatabase = client['Students']

# Creating a collection in the ['Students'] database; Students_scores
collection = mydatabase['Students_Info']

In [7]:
# Inserting records into the database; for one record
info1 = {
    'firstname':'Mustapha',
    'lastname':'Yusuf',
    'age':23,
    'department':'Economics',
     'address':{
            'number': 5, 
            'street': 'Ijeh Police Barracks', 
            'city': 'Ikoyi-Obalende'
        },
    'date':datetime.datetime.utcnow()
}

collection.insert_one(info1)

In [8]:
# Inserting records into the database; for more than one record
info2 = [{
    'firstname':'Zainab',
    'lastname':'Yusuf',
    'age':20,
    'department':'English',
     'address':{
            'number': 6, 
            'street': 'Ijeh Police Barracks', 
            'city': 'Ikoyi-Obalende'
        },
    'date':datetime.datetime.utcnow()
},
   {'firstname':'Aisha',
    'lastname':'Yusuf',
    'age':18,
    'department':'Political-Science',
     'address':{
            'number': 7, 
            'street': 'Ijeh Police Barracks', 
            'city': 'Ikoyi-Obalende'
        },
    'date':datetime.datetime.utcnow()
},
   {'firstname':'Halima',
    'lastname':'Yusuf',
    'age':10,
    'department':'Law',
     'address':{
            'number': 15, 
            'street': 'Ijeh Police Barracks', 
            'city': 'Ikoyi-Obalende'
        },
    'date':datetime.datetime.utcnow()
},
   {'firstname':'Al-Bishir Nur',
    'lastname':'Nur',
    'age':24,
    'department':'Economics',
     'address':{
            'number': 5, 
            'street': 'Yobe', 
            'city': 'Damaturu'
        },
    'date':datetime.datetime.utcnow()
},
   {'firstname':'Hamza',
    'lastname':'Isiaka',
    'age':27,
    'department':'Banking and Finance',
     'address':{
            'number': 13, 
            'street': 'Eti-osa', 
            'city': 'Ikoyi'
        },
    'date':datetime.datetime.utcnow()
},
   {'firstname':'Awwal',
    'lastname':'Isiaka',
    'age':29,
    'department':'Animal Breeding and Genetics',
     'address':{
            'number': 6, 
            'street': 'Lewis Street', 
            'city': 'Lagos Island'
        },
    'date':datetime.datetime.utcnow()
},
]
collection.insert_many(info2)

In [41]:
# Total number of records in the database
print(collection.count_documents({}))

7

In [43]:
# Total number of students in economics department
print(collection.count_documents({'department':'Economics'}))

2

In [50]:
# Students in economics department
students_info = collection.find({'department':'Economics'})
for i in students_info:
    print(i)
    print()

{'_id': ObjectId('6159b2df167fde5fe1d28988'), 'firstname': 'Mustapha', 'lastname': 'Yusuf', 'age': 23, 'department': 'Economics', 'address': {'number': 5, 'street': 'Ijeh Police Barracks', 'city': 'Ikoyi-Obalende'}, 'date': datetime.datetime(2021, 10, 3, 13, 40, 47, 74000)}

{'_id': ObjectId('6159b4f5167fde5fe1d2898c'), 'firstname': 'Al-Bishir Nur', 'lastname': 'Nur', 'age': 24, 'department': 'Economics', 'address': {'number': 5, 'street': 'Yobe', 'city': 'Damaturu'}, 'date': datetime.datetime(2021, 10, 3, 13, 49, 41, 358000)}

In [11]:
# Retrivong items from the database collection; Students_info
# Find the first one
student_info = collection.find_one({})
print(student_info)

{'_id': ObjectId('6159b2df167fde5fe1d28988'), 'firstname': 'Mustapha', 'lastname': 'Yusuf', 'age': 23, 'department': 'Economics', 'address': {'number': 5, 'street': 'Ijeh Police Barracks', 'city': 'Ikoyi-Obalende'}, 'date': datetime.datetime(2021, 10, 3, 13, 40, 47, 74000)}

In [24]:
# Retriving a particular one item from the database; Students_info
student_info = collection.find_one({'firstname':'Hamza'})
print(student_info)

print()

# Retriving a particular one item from the database; Students_info
student_info = collection.find_one({'firstname':'Zainab'})
print(student_info)

{'_id': ObjectId('6159b4f5167fde5fe1d2898d'), 'firstname': 'Hamza', 'lastname': 'Isiaka', 'age': 27, 'department': 'Banking and Finance', 'address': {'number': 13, 'street': 'Eti-osa', 'city': 'Ikoyi'}, 'date': datetime.datetime(2021, 10, 3, 13, 49, 41, 358000)}

{'_id': ObjectId('6159b4f5167fde5fe1d28989'), 'firstname': 'Zainab', 'lastname': 'Yusuf', 'age': 20, 'department': 'English', 'address': {'number': 6, 'street': 'Ijeh Police Barracks', 'city': 'Ikoyi-Obalende'}, 'date': datetime.datetime(2021, 10, 3, 13, 49, 41, 358000)}

In [39]:
# Retriving items that has the same lastname of Yusuf and sorting by their firstnames; from Students_info            
student_info = collection.find({'lastname':'Yusuf'}).sort('firstname')
for i in student_info:
    print()
    print(i)

{'_id': ObjectId('6159b4f5167fde5fe1d2898a'), 'firstname': 'Aisha', 'lastname': 'Yusuf', 'age': 18, 'department': 'Political-Science', 'address': {'number': 7, 'street': 'Ijeh Police Barracks', 'city': 'Ikoyi-Obalende'}, 'date': datetime.datetime(2021, 10, 3, 13, 49, 41, 358000)}

{'_id': ObjectId('6159b4f5167fde5fe1d2898b'), 'firstname': 'Halima', 'lastname': 'Yusuf', 'age': 10, 'department': 'Law', 'address': {'number': 15, 'street': 'Ijeh Police Barracks', 'city': 'Ikoyi-Obalende'}, 'date': datetime.datetime(2021, 10, 3, 13, 49, 41, 358000)}

{'_id': ObjectId('6159b2df167fde5fe1d28988'), 'firstname': 'Mustapha', 'lastname': 'Yusuf', 'age': 23, 'department': 'Economics', 'address': {'number': 5, 'street': 'Ijeh Police Barracks', 'city': 'Ikoyi-Obalende'}, 'date': datetime.datetime(2021, 10, 3, 13, 40, 47, 74000)}

{'_id': ObjectId('6159b4f5167fde5fe1d28989'), 'firstname': 'Zainab', 'lastname': 'Yusuf', 'age': 20, 'department': 'English', 'address': {'number': 6, 'street': 'Ijeh Police Barracks', 'city': 'Ikoyi-Obalende'}, 'date': datetime.datetime(2021, 10, 3, 13, 49, 41, 358000)}

In [57]:
# Ddeleting an item from the database using object id
result = collection.delete_one({'_id': ObjectId('6159b4f5167fde5fe1d2898e')})
print(result)

<pymongo.results.DeleteResult object at 0x000002002060B040>

In [58]:
# Total number of records in the database after performing delete operation
print(collection.count_documents({}))

6

In [59]:
# Updating an item in the database
# Updating department from English to Linguistics
result = collection.update_one({'firstname':'Zainab'}, {'$set':{'department':'Linguistics'}})
print(result)

<pymongo.results.UpdateResult object at 0x000002002060B8C0>

In [60]:
# Updating an item in the database
# Unsetting status from done to none
result = collection.update_one({'firstname':'Zainab'}, {'$unset':{'department':None}})
print(result)

<pymongo.results.UpdateResult object at 0x00000200205FD680>

In [71]:
# Converting records in the database to pandas dataframe
data = list(collection.find({}))
df = json_normalize(data)
df.head()

,_id,firstname,lastname,age,department,date,address.number,address.street,address.city
0,6159b2df167fde5fe1d28988,Mustapha,Yusuf,23,Economics,2021-10-03 13:40:47.074,5,Ijeh Police Barracks,Ikoyi-Obalende
1,6159b4f5167fde5fe1d28989,Zainab,Yusuf,20,NaN,2021-10-03 13:49:41.358,6,Ijeh Police Barracks,Ikoyi-Obalende
2,6159b4f5167fde5fe1d2898a,Aisha,Yusuf,18,Political-Science,2021-10-03 13:49:41.358,7,Ijeh Police Barracks,Ikoyi-Obalende
3,6159b4f5167fde5fe1d2898b,Halima,Yusuf,10,Law,2021-10-03 13:49:41.358,15,Ijeh Police Barracks,Ikoyi-Obalende
4,6159b4f5167fde5fe1d2898c,Al-Bishir Nur,Nur,24,Economics,2021-10-03 13:49:41.358,5,Yobe,Damaturu